body{
    background-image: linear-gradient(to right,#0B2559,#183B59,#2A5159);
    color: white;
}
.d2{
    animation: efeito 0.5s infinite;
}
h1,p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
main{
    background-color: #ffffff6b;
    width: 900px;
    height: 950px;
    padding: 200px;
    border-radius: 10px;
    margin-left: 20px;
}
.img{
    padding: 10px;
    background-color: #0B2559;
    margin-left: 40%; 
    cursor: no-drop;
}
@keyframes efeito{
    to{
    text-shadow: green,  1 1 10px;
    }
    from{
        text-shadow: blue,  1 1 10px;
    }
}
